/* Descargamos fuentes */
@font-face {
    font-family: 'Playfair';
    src: url('/assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Ubuntu;
    src: url(/assets/fonts/Ubuntu-Title.ttf);
}

body {
    background: linear-gradient(to bottom, #00FFFF, #93278F);
}

header {
    text-align: center;
}

#buscar-producto {
    margin-right: 10px;
    width: 380px;
    height: 25px;
}

h1 {
    text-align: center;
    font-family: Playfair;
    margin: 10px;
    font-size: 80px;
}

#container {
    display: flex;
    justify-content: center;
}

.productos-tabla-estilos {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    background-color: white;
    padding: 20px;
    border: solid;
    border-radius: 20px;
    text-align: justify;
}

.inventario-tabla-estilos {
    padding: 20px;
    background-color: white;
    border: solid;
    border-radius: 20px;
    min-width: 500px;
}

.tableInput {
    width: 50px;
    border: solid red;
}

/* Estilos para el botón btn-buscar */
#btn-buscar {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 16px; /* Modifica el tamaño de fuente según tus preferencias */
    padding: 10px 14px; /* Modifica el tamaño del botón según tus preferencias */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

/* Estilos para la posición del botón a la derecha del input */
.search-container {

    text-align: center;
}

/* Estilos para el botón en estado hover o active */
#btn-buscar:hover,
#btn-buscar:active {
    outline: 0;
}
